black==0.0
cffi==1.15.1
cfgv==3.4.0
click==8.0.4
distlib==0.3.6
filelock==3.9.0
identify==2.5.5
mypy-extensions==1.0.0
nodeenv==1.7.0
packaging==23.1
pathspec==0.10.3
pip==23.3
platformdirs==2.5.2
pre-commit==3.4.0
pycparser==2.21
PyYAML==6.0
setuptools==68.0.0
tomli==2.0.1
ukkonen==1.0.1
virtualenv==20.17.1
wheel==0.41.2
